$nav-height: 100px;
$content-width: 1050px;
$sidebar-width: 250px;
$top-padding: 50px;
$sidebar-left-padding: 20px;

$mood-colors: (
  up: #2ecc71,
  ok: #3498db,
  down: #e74c3c,
  anxious: #f1c40f,
);

@each $mood, $color in $mood-colors {
  .#{ $mood } {
    background-color: $color;

    &.hover:hover {
      background-color: darken($color, 10%);
    }
  }
}

