$nav-height: 100px;
$sidebar-width: 250px;
$top-padding: 50px;
$sidebar-left-padding: 20px;

$breakpoints: (
  small: 900px,
  medium: 1200px,
  large: 1500px,
  x-large: 1700px
);

$content-width-by-breakpoint: (
  small: 560px,
  medium: 910px,
  large: 1050px,
  x-large: 1190px,
);

$mood-colors: (
  up: #2ecc71,
  ok: #3498db,
  down: #e74c3c,
  anxious: #f1c40f,
);

@each $mood, $color in $mood-colors {
  .#{ $mood } {
    background-color: $color;

    &.hover:hover {
      background-color: darken($color, 10%);
    }
  }
}

