@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Lato');

@import '../../styles/variables.scss';

body {
  font-family: 'Lato', sans-serif;
}

.heading {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}



