@import '../../styles/variables.scss';

div.content {
  position: absolute;
  top: $nav-height;
  left: $sidebar-width;
  width: calc(100vw - #{ $sidebar-width });
  height: calc(100vh - #{ $nav-height });
  display: flex;
  align-items: center;
  justify-content: center;

  div.inner-content {
    padding-top: $top-padding;
    box-sizing: border-box;
  }
}

@each $bp, $size in $breakpoints {
  @media screen and (min-width: $size) {
    div.inner-content {
      width: map_get($content_width_by_breakpoint, $bp);
    }

    div.block {
      width: map_get($content_width_by_breakpoint, $bp) / 7;
      height: map_get($content_width_by_breakpoint, $bp) / 7;
    }
  }
}


div.block {
  float: left;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 5px 10px;
  transition: background-color 0.25s;
}

